<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User login</title>
</head>
<body style="text-align: center;">

    <h1>Login</h1>
    {% if message %}
        <h3 style="color: red;" id="message" name="message">{{message}}</h3>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" required placeholder="Enter username" autofocus><br><br>
        <input type="password" name="password" required placeholder="Enter password"><br><br>
        <input type="submit" name="submit" value="Login">
    </form>
</body>
</html>